.App {
    text-align: center;
    display: flex;
    justify-content: center;
  }

.login {
    text-align: center;
    display: flex;
    justify-content: center;
}

li, :link{
    text-decoration: none;
    list-style: none;
  }